{% extends 'base.html.njk' %}
{% block title %}Greetings | Madlibs{% endblock title %}
{% block body %}
  <img src="https://www.pngkit.com/png/detail/53-534283_icon-skeleton-head-lego-small-skeleton-storage-head.png"/>
  <p>Goodbye you will be missed<p>
{% endblock body %}